/* Styles */

:root {
  --bg-color: #111111;
  --fg-color: #f8f8f8;
}

.svg-base {
  background-color: var(--bg-color);
}

.axis {
  color: var(--fg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  vertical-align: middle;
  white-space: pre;
}

.axis--y {
  letter-spacing: 1.5em;
  text-transform: uppercase;
}


.calendar--title {
  fill: var(--fg-color);
}
#supratitle {
  font-size: 40px;
}
#subtitle {
  font-size: 14px;
  font-weight: 500;
}






.moon-moon {
  fill: var(--fg-color);
  stroke: 1px solid var(--fg-color);
}

.moon-shadow {
  fill: var(--bg-color);
  stroke: 2px solid var(--bg-color);

}